@import './../../myColors.scss';
@import '~@angular/material/theming';
$primary: mat-palette($my-brand-color, 700, 500, 900);


@font-face {
  font-family: "Turok";
  src: url("../../assets/turok-font.otf") format("opentype");
}
  
::ng-deep .section-content a, ::ng-deep .section-content a:link, ::ng-deep .section-content a:visited, ::ng-deep .section-content a:active {
    color: mat-color($primary) !important;
}

.about-hero-header {
    height: 50vh;
    background-color: mat-color($primary);
    overflow: hidden;
}

.about-hero-header img {
    display: block;
    margin: auto;
    padding-top: 10vh;
    text-align: center;
    max-height: 40vh;
    max-width: 80%;
}

.about-main-container {
    text-align: justify;
    text-justify: inter-word;
    margin: auto;
    width: 90%;
    max-width: 100%;
}

.about-main-container h1 {
    font-family: "Turok";
    letter-spacing: 2px;
}


.about-main-container .section-content {
    width: 100%;
}

.about-main-container .section .section-content .header {
    text-align: center;
    border-bottom: 2px solid;
    margin-bottom: 15px;
}

.about-main-container .section {
    min-height: 275px;
}

.section-image img {
    max-height: 200px;
    max-width: 100%;
    background-color: map-get($mat-dark-theme-background, background);
}

@media only screen and (min-width: 960px) {
    .about-main-container {
        padding-top: 15vh;
    }

    .about-main-container .section:nth-child(odd) .section-image { 
        float: right;
        margin-left: 30px;
        border-left: 2px solid;
    }

    .about-main-container .section:nth-child(odd) .section-image  img { 
        padding-left: 30px;
    }
    
    .about-main-container .section:nth-child(even) .section-image {
        float: left;
        margin-right: 30px;
        border-right: 2px solid;
    }

    .about-main-container .section:nth-child(even) .section-image img {
        padding-right: 30px;
    }
}

@media only screen and (max-width: 960px) {
    .about-main-container .section { 
        text-align: center;
    }

    .about-main-container .section img { 
        margin-bottom: 40px;
        margin-top: 40px;
    }
}