.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar {
  min-height: 80px !important; 
  height: 80px !important;
}

#brand-logo {
  max-height: 70px;
  padding-top: 7px;
  margin-left: 10px;
}