// IDK.... it looks kind of bad. but it's turok so... IDK.

// @font-face {
//   font-family: "Turok";
//   src: url("../../assets/turok-font.otf") format("opentype");
// }

// ::ng-deep .mat-list-item {
//   font-family: "Turok" !important;
//   letter-spacing: 2px;
// }

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 180px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}

.mat-toolbar {
  min-height: 60px !important; 
  height: 60px !important;
}

#brand-logo {
  max-height: 50px;
  padding-top: 7px;
  margin-left: 10px;
}