<div class="container">
  <h1 class="mat-h1">View T-Shirt Blanks Inventory</h1>

  <div fxLayout="row" fxLayoutAlign="start start" class="select-row">
    <div *ngFor="let blank of tShirtBlanks" fxFlex="10">
      <a (click)="newBlankSelection($event.target.getAttribute('blankId'))"><img mat-card-image class="blank-selector" [src]="blank.frontPic.url" [attr.blankId]="blank.id"></a>
    </div>
  </div>

  <mat-grid-list cols="8" rowHeight="275px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <img *ngIf="card.title=='Front'" mat-card-image [src]="currentBlank.frontPic.url">
        <img *ngIf="card.title=='Back'" mat-card-image [src]="currentBlank.backPic.url">
        <mat-card-content class="dashboard-card-content">
          <div *ngIf="card.title=='Select'">
            <mat-form-field appearance="outline">
              <mat-label>T-Shirt Blank</mat-label>
              <mat-select (selectionChange)="newBlankSelection($event.value)">
                <mat-option *ngFor="let blank of tShirtBlanks" [value]="blank.id">
                  {{ blank.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
