.container {
  margin: 10px;
}

.dashboard-card {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.dashboard-card-content {
  text-align: center;
}

mat-card {
  overflow: hidden;
}

.blank-selector {
  object-fit: cover;
  max-height: 150px;
  max-width: 90%;
  border-radius: 4px !important;
}

.select-row {
  margin: 30px;
  margin-bottom: 0;
}

@media only screen and (max-width: 700px) {
  .container {
    margin: 5px;
  }
  
  .dashboard-card {
    // padding: 5px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
}