<div class="parent-flex-container">
    <div class="form-container">
        <mat-form-field appearance="outline">
            <mat-label>T-Shirt Blank</mat-label>
            <mat-select (selectionChange)="newBlankSelection($event.value)">
                <mat-option *ngFor="let blank of tShirtBlanks" [value]="blank.id">
                    {{ blank.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <br>

        <mat-form-field appearance="outline">
            <mat-label>Vinyl Color</mat-label>
            <mat-select (selectionChange)="newHtvSelection($event.value)">
                <mat-option *ngFor="let htv of htvOptions" [value]="htv.id">
                    {{ htv.color }} <div class="my-htv-option" [style]="'background-color: #' + htv.pantoneEquivalentValue + ';'"> </div>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div [class]="(isHandset$ | async ) ? '' : 'mockup-image-container'">
        <ng-container *ngIf="mockupImageUrl && !loading">
            <img mat-card-image [src]="mockupImageUrl">
        </ng-container>
        <mat-spinner *ngIf="loading"></mat-spinner>
    </div>
</div>