.my-htv-option {
    // position: relative;
    float: left;
    top: 50%;
    height: 20px;
    width: 20px;
    transform: translate(0, 50%);
    margin-right: 10px;
}

.form-container {
    width: 50%;
}

.parent-flex-container {
    display: flex;
    align-items: stretch;
}

::ng-deep mat-card {
    overflow: hidden !important;
}

mat-form-field {
    width: 100% !important;
}

@media screen and (min-width: 960px) {
    .mockup-image-container {
        text-align: center;
        float: right;
        width: 50%;
        transform: translate(0, -15px);
    }
    
    .mockup-image-container img {
        padding-left: 15px;
        max-width: 90%;
        // border-radius: 4px !important;
    }
}


@media screen and (max-width: 960px) {
    .parent-flex-container {
        flex-direction: column;
    }

    .form-container {
        width: 100%;
        margin-bottom: 15px;
    }
}
  