@import '~@angular/material/theming';

.grid-container {
  margin: 10px;
}

.dashboard-card {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

::ng-deep .mat-horizontal-content-container {
  padding: 0 !important;
}

.my-stepper-container {
  // @include background;
  background-color: map-get($mat-dark-theme-background, card);
  margin: 10px;
  padding: 4px;
  margin-top: 20px;
  border-radius: 4px;
}

::ng-deep .mat-step-header {
  border-radius: 4px !important;
}

@media screen and (max-width: 960px) {
  .my-stepper-container {
    display: none;
  }
}
