<div class="grid-container">
    <h1 class="mat-h1">Create T-Shirt Mockup</h1>
    <div class="my-stepper-container">
      <mat-horizontal-stepper linear="true" [@.disabled]="true" media="(min-width: 900px)">
  
        <mat-step label="Choose Graphic"></mat-step>
        <mat-step label="Select Demographic"></mat-step>
        <mat-step label="Provide Details And Make Color Choices"></mat-step>
        <!-- <ng-template matStepperIcon="graphic">
          <mat-icon>call_end</mat-icon>
        </ng-template> -->
      
      </mat-horizontal-stepper>
    </div>
   
    <mat-grid-list [cols]="numColumns" [rowHeight]="rowHeight">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <ng-container *ngIf="card.title=='Custom Graphic'"><app-graphic-card (graphicChosen)="graphicChosen($event)"></app-graphic-card></ng-container>
            <ng-container *ngIf="card.title=='Demographic'"><app-demographic-card (demographicChosen)="demographicChosen($event)"></app-demographic-card></ng-container>
            <ng-container *ngIf="card.title=='Specifications'"><app-specifications-card></app-specifications-card></ng-container>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <!-- now for the color combinations cards -->
      <mat-grid-tile *ngFor="let variationOptions of variationOptionsArray" [colspan]="(colorsCards | async).cols" [rowspan]="(colorsCards | async).rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Colors
              <button *ngIf="variationOptionsArray.length > 1" mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button (click)="deleteVariation(variationOptions.index)" mat-menu-item>Delete</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <app-colors-card 
              [selectedCncCutFile]="selectedGraphic"
              [index]="variationOptions.index"
              [blankId]="variationOptions.blankId"
              [htvId]="variationOptions.htvId"
              [tShirtBlanks]="getTShirtBlanksForDemographic()"
              [htvOptions]="this.databaseService.getHtvOptions()"
              (tShirtBlankChosen)="tShirtBlankChosen($event)"
              (htvChosen)="htvChosen($event)">
            </app-colors-card>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
  

      <mat-grid-tile *ngIf="variationOptionsArray.length > 0" [colspan]="(colorsCards | async).plusCols" [rowspan]="(colorsCards | async).rows" (click)="addAnotherVariation()" class="plus" title="Create Another Variation">
        <mat-card class="plus-card dashboard-card">
          <img mat-card-image src="assets/images/plus.svg">
        </mat-card>
      </mat-grid-tile>

    </mat-grid-list>
  </div>
  